{% extends '_layouts/base.njk' %}
{% block page_title %}{{members.name}}{% endblock %}
{% block content %}
<article class="container">
  <div class="row">
    <div class="col-sm-4 left-rail">
      <img src="assets/img/members/{{members.image}}" alt="Brian May" class="img-fluid">
    </div>
    <div class="col-sm-8">
      <h2>{{ members.name }}</h2>
      <h6>{{ members.instruments }}</h6>
      <h6>{{ members.birthdate }}</h6>
      <h6>{{ members.birthplace }}</h6>

      {{ members.text | safe}}

    </div>
  </div>
</article>
{% endblock %}
