// Custom variable overrides
// See node_modules/bootstrap/scss/_variables.scss

$body-bg: rgba(195, 44, 201, 0.767);
$body-color: white;
// $link-hover-color: grey;
// $font-family-sans-serif: "Helvetica Neue";

/* bootstrap */
// Option A: Include all of Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap";

// Option B: Include parts of Bootstrap
// See https://getbootstrap.com/docs/4.1/getting-started/theming/#importing

// Required
// @import "../../node_modules/bootstrap/scss/functions";
// @import "../../node_modules/bootstrap/scss/variables";
// @import "../../node_modules/bootstrap/scss/mixins"; 

// Import partials
@import "nav";

//Import jumbotron
@import "jumbotron";

//import discography
@import "discography";

//style
@import url('https://fonts.googleapis.com/css?family=Charm');



h1{
    font-family: 'Charm', cursive;
}

p{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}